<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="trips.css">
</head>

<body>
  <form id="addTrip" action="/trips" method="POST">
    <div>Add New Trip:</div>
    <div>City</div>
    <input type="text" name="newCity" placeholder="City">
    <div>Date of Departure</div>
    <input type="date" name="tripStart" placeholder="Date of Departure">
    <div>Date of Return</div>
    <input type="date" name="tripEnd" placeholder="Date of Return">
    <input id="addButton" type="submit" name="submit" value="Add Trip">
  </form>
  <form action="/trips" method="POST">
    <input type="text" name="city">
    <input type="submit" name="submit" value="Sort">
  </form>
  <ul>
    <h1>Your Trips</h1>
  {{#city}}
    <form class="tile" action="/trips" method="POST">
      <h2>Trip to {{title}}</h2>
      <h3>From: {{tripStart}} To: {{tripEnd}}</h3>
      <h3>From:<input type="date" name="tripStart" placeholder="Date of Departure">
      To:<input type="date" name="tripEnd" placeholder="Date of Return"></h3>
      <input class="tileButton" type="submit" name="submit" value="Update">
      <input class="tileButton" type="submit" name="submit" value="Delete">
      <input type="hidden" name="hidden" value="{{title}}">
    </form>
  {{/city}}
  </ul>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>
